/* reset */
* {margin:0; padding:0; font-family: 'Cabin', sans-serif;}
li {list-style: none;}
a {text-decoration: none;}

/* nav */
#nav {position: fixed; left: 0; top: 0; width: 100%; background-color: rgba(255,255,255,0.3);}
#nav h1 {float: left; color: #fff; font-size: 40px; padding: 5px 5px 5px 15px; font-family: 'Abel' }
#nav ul {float: right; padding-right: 10px; }
#nav ul li {display: inline; }
#nav ul li a {display: inline-block; padding: 20px 15px; color: #fff; font-weight: bold; font-family: 'Abel'; text-transform: capitalize;}
#nav ul li.active a {color: #000;}
#nav .mNav {display: none; position: absolute; top: 7px; right: 10px; width: 65px; height: 45px; cursor: pointer;/*background-color: rgba(255,255,255,0.3);*/}

@media(max-width: 800px){
    #nav .menu{display: none;}
    #nav .mNav{display: block;}
}

@media (max-width: 500px) {
    .sectionImg{background-size: contain;}
}